<form [formGroup]="loginForm!" (ngSubmit)="tryLogin(loginForm!.value)" class="login-form">
  <mat-card>
    <mat-card-content>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput type="email" id="email" formControlName="email">
      </mat-form-field>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Password</mat-label>
        <input matInput type="password" id="password" formControlName="password">
      </mat-form-field>
      <div class="button-container">
        <button mat-raised-button color="primary" type="submit">Login</button>
      </div>
    </mat-card-content>
  </mat-card>
</form>
<div class="button-container">
  <button mat-raised-button color="warn" type="button" (click)="tryGoogleLogin()">Login with Google</button>
</div>
